# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DATABASE_URL=postgres://[user]:[password]@[neon_hostname]/[dbname]
